---
import ExperienceItem from "./ExperienceItem.astro";
import { getProfile } from "@/lib/profiles";
const code = Astro.url.searchParams.get("code");
const { experience } = getProfile(code);
---

<ol class="relative mt-16">
  {
    experience.map((experience: any) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
